<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car creation</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link th:replace="fragments/main.html :: boot">
    <link th:replace="fragments/main.html :: styles">
</head>
<body>
<nav th:replace="fragments/main.html :: nav(user = ${user})"></nav>
<h1 class="ml-2">Car post:</h1>

<ul th:if="${#fields.hasErrors('${car.*}')}">
    <li th:each="error : ${#fields.errors('${car.*}')}" th:text="${error}"></li>
</ul>

<form th:action="@{/private/car/creation}" method="post" th:object="${car}" class="ml-2 text-left">
    <input type="hidden" th:field="*{id}"/>
    <p th:if="*{id != null}" th:text="'Id: ' + *{id}">Id:</p>
    <p>Brand: <input type="text" th:field="*{brand}" th:errorclass="error"/>
        <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="error"></span>
    </p>
    <p>Model: <input type="text" th:field="*{model}"/>
        <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="error"></span>
    </p>
    <p>Year: <input type="number" maxlength="4" th:field="*{year}"/>
        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="error"></span>
    </p>
    <p>kW: <input type="number" maxlength="4" th:field="*{KW}"/>
        <span th:if="${#fields.hasErrors('KW')}" th:errors="*{KW}" class="error"></span>
    </p>
    <p>Review: <textarea cols="50" rows="10" th:field="*{review}"></textarea>
    <span th:if="${#fields.hasErrors('review')}" th:errors="*{review}" class="error"></span>
    </p>
    <p>IMG url: <input type="text" th:field="*{img}">
    </p>
    <p><input type="submit" th:value="${car.id != null ? 'Redaguoti' : 'Kurti'}"/></p>
</form>
<footer th:replace="fragments/main.html :: bootjs"></footer>
</body>
</html>