<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Car - info</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link th:replace="fragments/main.html :: boot">
    <link th:replace="fragments/main.html :: styles">
</head>
<body>
<nav th:replace="fragments/main.html :: nav(user = ${user})"></nav>
    <h1>Review</h1>
    <img th:src="${car.img}" height="200px">
    <h3 th:text="${car.brand} + ' ' + ${car.model}">Brand + Model</h3>
    <h3 th:text="'Year: ' + ${car.year}">Year</h3>
    <h3 th:text="'kw: ' + ${car.KW}">kW</h3>
    <h3 th:text="'About the car: ' + ${car.review}">test</h3>


    <p> <a sec:authorize="hasRole('ADMIN')" th:href="@{/private/car/update/{id}(id=${car.id})}">Redaguoti</a> </p>
    <p> <a sec:authorize="hasRole('ADMIN')" th:href="@{/private/car/{id}/delete(id=${car.id})}">Ištrinti</a> </p>

<footer th:replace="fragments/main.html :: bootjs"></footer>
</body>
</html>