<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cars - list</title>
    <link th:replace="fragments/main.html :: boot">
    <style th:replace="/fragments/main.html :: styles"></style>
    <link rel="stylesheet" href="/../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="fragments/main.html :: nav(user = ${user})"></nav>
    <table class="text-center">
        <thead>
            <tr>
                <td>Brand</td>
                <td>Model</td>
                <td>Year</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.brand}">BMW</td>
                <td th:text="${car.model}">E46</td>
                <td th:text="${car.year}">2001</td>
                <td>
                    <a th:href="@{/public/car/{id}(id=${car.id})}">
                        About
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

        <a th:href="@{/private/car/creation}"
        sec:authorize="hasRole('ADMIN')">
            Add to list
        </a>

<footer th:replace="fragments/main.html :: bootjs"></footer>
</body>
</html>